footer
{
    text-align: center;
    font-size:small;
}

#Logo{
    /*border: 1px solid blue;*/
    padding-left: 5%;
    padding-right: 8%;
}

.App-header{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile{
    /*border: 1px solid blue;*/
    display:flex;
    margin-left: auto;
    justify-items: right;
    align-items: center;
    column-gap: 10px;
}

button{
    background-color: rgb(60, 60, 255);
    color: white;
    border-color: rgb(60, 60, 255);
    border-radius: 5px;
    margin: 0px;
}
/*
.logout-btn{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 5px;
}*/

.navbar-btn{
    /*border: 1px solid blue;*/
    color:azure;
    align-items: center;
    padding: 30%;
}

.navbar-btn:visited{
    text-decoration: none;
}

.navbar-btn:link{
    text-decoration: none;
}

.login-panel{
    position:absolute;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: #1c1c1ce0;
    border-radius: 10px;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-items: center;
    /*border: 1px solid blue;*/
}

input[type=text]{
    height: 40px;
    width: 100%;
    align-self: center;
}

#signInButton{
    height: 40px;
    width: 100%;
    align-self: center;
}

.login-bg{
    width: 100%;
}

img{
    object-fit: cover;
}

.movie-row{
    /*border: 1px green solid;*/
}

.movie-category-label{
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    font-size: 20px;
    height: 20px;
    /*border: 1px solid blue;*/

}

.row{
    height: 150px;
    /*border: 1px solid orange;*/
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
    overflow: visible;
}

.translate-row{
    height: 100%;
    display: flex;
    /*overflow-y: visible;*/
    overflow-x: scroll;
    /*display: grid;
    grid-auto-flow: column;*/

    gap: 10px;

    /*border: 1px dashed yellow;*/
    padding: 5%;
    margin-left: -5%;

 }

 .translate-row::-webkit-scrollbar {
    display: none;
  }

  @keyframes hoverGrow{
    from{height: 100%}
    to{height: 120%}
  }

  .video-card{
    background-image: var(--backImg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 150px;
    aspect-ratio: var(--backWidth) / var(--backHeight);
    background-position: center;
    
    align-self: center;
    flex-shrink: 0;
    /*border: 1px solid red;*/

    border-radius: 10px;
    transition: 600ms;
    position:relative;

    overflow: hidden;
    
  }

  
  .video-card:hover{
        transform: scale(1.25);
        z-index: 1;
  }

  .video-card:hover .video-details{
    visibility: visible;
  }


 
.video-details{
    background-color: #101010E0;
    height: 30%;
    width: 90%;
    padding: 5% 5% 0% 5%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;

    border: 1px solid #101010E0;
    
    visibility: hidden;
}

.video-title{
    margin: 0px;
}

.play-btn{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    
}

.plot-sum{
    font-size: xx-small;
}

#videoPlayer{
    width: 80%;
    /*max-width: 100%;*/
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.player-title-bar{
    border-bottom: 2px solid white;
    display: flex;
    align-items: baseline;
}

.fav-icon{
    height: 20px;
    width: auto;
    padding-left: 15px;
    cursor: pointer;
}

.no-show-text{
    background-color: #202020;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}